body {
    background-color: black;
}

h1 {
    color: white;

}

h4 {
	color: white;
}

li {

color: white;

}

a{
	color: white;
}

img {
height: 450px;
    width: 85%;
}

h2 {
	color: white;
}
