body {
    background-color: black;
}

h1 {
    color: white;

}

h4 {
	color: white;
}

img {
height: 450px;
    width: 35%;
}

a{
	color: white;
}

h2 {
	color: white;
}

h4 {
	text-align: center;
}